<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

		  <p>&copy Hyunwoo Park</p>
              <p>We are part of the Graduate School of Data Science at Seoul National University</p>
		   <p>  </p><p>
		</div>
		<div class="col-sm-4">
		  Funding:<br />
      - Samsung<br />
		  - Ministry of Science and ICT<br />
		  - KETI<br />
		  - ERC<br />
		  - Seoul National University<br />
		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  Graduate School of Data Science, SNU<br />
		  43-505<br />
		  1 Gwanak-ro, Gwanak-gu<br />
		  Seoul, Republic of Korea <br />
            (<a href="https://goo.gl/maps/H2RjutkyoUH2">Maps</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
